body {
    font-family: 'Manrope', sans-serif; 
    word-spacing: 0.2em;

    background-color: white;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.form-heading {
    font-weight: 700em;
    font-size: 14px;
}


.form-question {
    font-size: 10px;
    /* margin-left: 40%; */
    /* vertical-align: middle;
    display: inline-block; */
    justify-content: center;
    font-weight: 500px;
    letter-spacing: 0.05em;
}

.form-heading-img  {
    height: 20%;
    width: 20%;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;

}

.input-container {
    padding: 2%;
    box-shadow: inset 0px 0px 2px 2px grey;
    box-shadow: blue;
    border-radius: 2%;
    width: max-content;
}

.form-submit-btn {
    padding-top: 10px;
}

.confirm-btn {
color: white;
background-color: blue;
border-radius: 2%;
border-color: blue;
padding: 5px;
padding-left: 100px;
padding-right: 100px;
}
